<%include ../head.ejs %>
<div class='container'>
	<div class='row'>
		<div class="jumbotron">
		<form method="post" action='/ticket/create' id='frm'>
			<h1 style="text-align:left;">冲突提示</h1>
			<p>
			您要选择的座位: <p>[<%= seatArr.join(',')%>]</p>中
			<p>[<%= blacks.join(',') %>]</p>已经被选走,是否
			<%-enable.length>0 ?'<input class="btn btn-primary btn-lg" type="submit" role="button" value="确定"/>选择座位<p>'+
			 enable.join(',') + '</p>,或者':'无法选择,请' %>
			<a href='/ticket/' class="btn btn-danger btn-lg">重新选择</a>
		<input type='hidden' name='owner' value="<%=owner%>" ></input>
		<input type='hidden' name='ver'  value="<%=ver%>"></input>
		<input type='hidden' name='sels'  value="<%=enable.join(',') %>"></input>
		</form>
		</div>
	</div>
</div>
<%include ../footer.ejs %>
